{"config":{
		"octopi": {
			"url-base":"http://localhost:5000/",
			"serial-port":"/dev/ttyACM0",
			"baud":"115200",
			"api-key":"75F3EF4A6AD54492A39B40545E1B96F1"
		},
		"printmon": {
			"sleep-time":"30",
			"thresh-bed":"40",
			"thresh-hotend":"100",
			"detection-enabled":"true"
		},
		"connect": {
			"sleep-time":"20"
		}
	}
}
